:root {
    --txt-primary-color: #102a42;
    --txt-second-color: #617d98;
    --red-color: #bb2525;
    --blue-color: #49a6e9;
    --gray-color: #f1f5f8;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --orange-color: #ba5d2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: serif;
    font-size: 62.5%;
}

body {
    background-color: #f1f5f8;
}

li {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.app {
    width: 90vw;
    max-width: 1170px;
    margin-inline: auto;
}

.app__header {
    text-align: center;
    font-size: 4rem;
    color: var(--txt-primary-color);
    margin-block: 4rem;
}

.app__search {
    margin-block: 4rem;
    width: 50%;
    position: relative;
}
.app__search input {
    border: none;
    border-bottom: 2px solid var(--txt-second-color);
    font-size: 2rem;
    width: 100%;
    padding: 0.6rem 1.2rem;
    background-color: #f1f5f8;
}

.app__search svg {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--txt-second-color);
    margin-right: 1rem;
    cursor: pointer;
}

.app__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.app__loading {
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    color: var(--txt-second-color);
}

.underline {
    width: 10rem;
    height: 5px;
    background-color: var(--blue-color);
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .app__body {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 739px) {
    .app__body {
        grid-template-columns: 1fr;
    }
}
