.cart {
    width: 90vw;
    max-width: 1170px;
    margin-inline: auto;
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.cart__title {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.cart__notify {
    font-size: 3rem;
    color: #64748b;
    margin-block: 2rem;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    font-size: 2rem;
}

.total__price {
    padding: 1rem 2rem;
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 5px;
}
