:root {
    --txt-primary-color: #102a42;
    --txt-second-color: #617d98;
    --red-color: #bb2525;
    --blue-color: #49a6e9;
    --gray-color: #f1f5f8;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: serif;
    font-size: 62.5%;
}

body {
    background-color: var(--gray-color);
}

.App {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    background-color: var(--gray-color);
}

.App__title {
    font-size: 4rem;
    font-weight: 400;
    color: var(--txt-primary-color);
    text-align: center;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: var(--blue-color);
    margin: 0 auto 4rem;
}

.btn {
    width: 100%;
    color: var(--red-color);
    font-size: 3rem;
    background-color: #fff;
    border-color: var(--red-color);
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    margin: 1rem auto;
}

.btn.medium {
    width: 80%;
    font-size: 2rem;
}

.btn.center {
    display: flex;
    justify-content: center;
}
