* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;
}
.container {
    margin-top: 20px;
    margin-left: 100px;
}

.image {
    width: 320px;
    height: 200px;
    position: relative;
    /* cursor: zoom-in; */
    cursor: none;
}

.image img {
    width: 100%;
    object-fit: cover;
}

.mirror {
    width: 100px;
    height: 100px;
    background-image: url('./images/image.jpg');
    background-size: 640px 400px;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
}

.mirror.show {
    display: block;
}

/* ### */
/* 
figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
  }
  
  figure.zoom img:hover {
    opacity: 0;
  }
  
  figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  } */
