.title {
    font-size: 4rem;
    font-weight: 400;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

.filter button {
    margin-inline: 1rem;
    color: #c59d5f;
    font-size: 2rem;
    border: none;
    background-color: unset;
    transition: all 0.3s linear;
    text-transform: capitalize;
}

.filter button.active {
    background-color: #c59d5f;
    color: #fff;
}

.filter button:hover {
    background-color: #c59d5f;
    color: #fff;
}
