:root {
    --txt-primary-color: #102a42;
    --txt-second-color: #617d98;
    --red-color: #bb2525;
    --blue-color: #49a6e9;
    --gray-color: #f1f5f8;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --orange-color: #ba5d2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: serif;
    font-size: 62.5%;
}

body {
    background-color: var(--gray-color);
}

.App {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    text-align: center;
    color: var(--txt-primary-color);
}

.App__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.App__control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.App__input {
    display: inline-block;
    font-size: 1.6rem;
    margin-inline: 1rem;
    width: 5rem;
    padding: 0.2rem;
    border: none;
}

.App__control button {
    background-color: #49a6e9;
    font-size: 2rem;
    margin: 0;
    border: none;
}

.App__control button:hover {
    color: #49a6e9;
    background-color: #a5d5f8;
}

.App__content {
    color: var(--txt-second-color);
    font-size: 1.6rem;
    text-align: center;
}

.App__item {
    margin-bottom: 2rem;
    line-height: 2rem;
}

.btn {
    width: 100%;
    color: currentColor;
    font-size: 3rem;
    background-color: #fff;
    border-color: currentColor;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    margin: 1rem auto;
}

.btn.medium {
    width: 80%;
    font-size: 2rem;
}

.btn.center {
    display: flex;
    justify-content: center;
}

.btn.small {
    width: unset;
    padding-inline: 1rem;
}
